.navbar-bg-color{
    background-color: #07857A
}
.jumbotron-settings{
   background-color: #B0FFFC;
   margin-top: 0px;
  
}
.bg-font{
    color: #666666
}
.btn-custom-default {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(108, 88, 179, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(108, 89, 179, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }

  .btn-custom-default:hover {
    color: #FFF;
    background: rgba(108, 88, 179, 0.75);
    border: 2px solid rgba(108, 89, 179, 0.75);
  }
  
  .btn-custom-danger {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(217, 83, 78, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(217, 83, 78, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  
  .btn-custom-danger:hover {
    color: #FFF;
    background: rgba(217, 83, 78, 0.75);
    border: 2px solid rgba(217, 83, 78, 0.75);
  }

  .footer-color{
    background-color: #07857A
  }

  .card-center {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.card-title-color{
    background-color: #FFCA50;
    color: white;
    padding: 5px; 
}

